:root {
  --font-Franklin: "Onest", sans-serif;
  --font-Karnak: "Montserrat", sans-serif;
  --font-Imperial-Cheltenham: "STIX Two Text", serif;
  --font-Magslab-Cheltenham-Cond: "Noto Serif", serif;
  --images-opacity: 300ms;
  --background: white;
  --header-border-bottom: #e2e2e2;
  --button-header-hover: #f7f7f7;
  --dark-light: black;
  --light-dark: white;
  --search-submit: #567b95;
  --title: #121212;
  --search-background: #f7f7f7;
  --search-title: #666666;
  --subtitle: #727272;
  --title-grade: 100%;
  --main-line: #dfdfdf;
  --main-text: #363636;
  --popup-line: #ebebeb;
  --name-title: #363636;
  --name: #363636;
  --name-hover: #363636;
  --name-line: #727272;
  --name-line-hover: transparent;
  --link-border: #dfdfdf;
  --link-hover: #ebebeb;
  --popup-screenshot: rgba(0, 0, 0, 0.4);
  --background-image: #ebebeb;
  --circle: url(https://img.icons8.com/ios/100/circled.png);
  --filled-circle: url(https://img.icons8.com/ios-filled/100/FFFFFF/360-degrees.png);
  --grade-background: var(--circle);
}

body.dark-theme {
  --background: #121212;
  --header-border-bottom: #121212;
  --button-header-hover: #121212;
  --dark-light: white;
  --light-dark: black;
  --search-submit: black;
  --title: white;
  --search-background: black;
  --search-title: #a3a3a3;
  --subtitle: white;
  --title-grade: 0%;
  --main-line: rgba(255, 255, 255, 0.2);
  --main-text: #f8f8f8;
  --popup-line: #ffffff33;
  --name-title: #ffffffbf;
  --name: #a3a3a3;
  --name-hover: white;
  --name-line: #ffffff59;
  --name-line-hover: white;
  --link-border: #424242;
  --link-hover: #363636;
  --popup-screenshot: rgba(0, 0, 0, 0.85);
  --background-image: #ccc;
  --grade-background: var(--filled-circle);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  color: currentColor;
  text-decoration: none;
  list-style: none;
}

img,
svg {
  display: block;
  pointer-events: none;
}

button,
button:focus,
button:focus-visible,
button:focus-within,
button:active {
  box-shadow: none;
  outline: none;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  background-color: var(--background);
  min-inline-size: 320px;
}

.header {
  -webkit-position: sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border-block-end: 1px solid var(--header-border-bottom);
  padding: 4px 15px 2px;
  background-color: var(--background);
}

.header__buttons {
  display: flex;
}

.header__button {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 8px 9px 9px;
  background: transparent;
  transition: 0.6s;
  cursor: pointer;
  inline-size: 34px;
  block-size: 33px;
}

.header__button:hover {
  background: var(--button-header-hover);
}

.header__navigation_button {
  margin-inline-end: 8px;
}

.header__navigation_button svg {
  fill: var(--dark-light);
  inline-size: 16px;
  block-size: 16px;
}

.search {
  position: relative;
  display: inline-block;
}

.header__search__button svg {
  fill: var(--dark-light);
  inline-size: 16px;
  block-size: 16px;
}

.header__search {
  position: absolute;
  top: 1px;
  left: calc(100% + 7px);
  display: none;
  align-items: center;
  gap: 4px;
  block-size: 100%;
}

.header__search_is-opened {
  display: flex;
}

.header__input__main {
  position: relative;
}

.header__input {
  border: 1px solid #787878;
  border-radius: 3px;
  padding: 1px 70px 0px 10px;
  font-family: var(--font-Franklin);
  font-weight: normal;
  font-size: 1rem;
  line-height: 16px;
  letter-spacing: 0.5px;
  background-color: white;
  block-size: 31px;
  inline-size: 220px;
}

.header__input:focus-within {
  border: 1px solid black;
  box-shadow: black 0px 0px 0px 1px;
  outline: transparent solid 2px;
}

.header__clear__button {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  border: 0px none;
  padding: 2px 10px 0px 0px;
  color: #b3b3b3;
  font-size: 9px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  block-size: 33px;
}

.header__clear__button_is-opened {
  display: block;
}

.header__search__submit {
  border: none;
  border-radius: 3px;
  padding: 7px 9px 6px;
  opacity: 0.5;
  color: white;
  font-family: var(--font-Franklin);
  font-weight: bold;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: var(--search-submit);
  transition: 0.6s;
  cursor: default;
  block-size: 33px;
}

.header__search__submit:hover {
  background-color: #326891;
}

.header__search__submit_is-active {
  opacity: 1;
  cursor: pointer;
}

.header__main__button {
  margin: 0 auto;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.header__logo {
  object-fit: contain;
  block-size: 41px;
}

.popup__navigation {
  position: fixed;
  inset: 0px;
  z-index: 2;
  visibility: hidden;
  display: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: visibility 0.6s, opacity 0.6s;
  pointer-events: none;
  user-select: none;
}

.popup__film {
  position: fixed;
  inset: 0px;
  z-index: 2;
  visibility: hidden;
  display: none;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--background);
  transition: visibility 0.6s, opacity 0.6s;
  pointer-events: none;
  user-select: none;
}

.popup__screenshot {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  visibility: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: var(--popup-screenshot);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  transition: visibility 0.6s, opacity 0.6s;
  pointer-events: none;
  user-select: none;
}

.popup_is-opened {
  visibility: visible;
  display: block;
  opacity: 1;
  pointer-events: all;
}

.popup__navigation__content {
  position: absolute;
  top: 0px;
  padding-block-start: 79px;
  background: white;
  block-size: 100%;
  inline-size: 240px;
}

.popup__navigation__close {
  position: absolute;
  top: 24px;
  left: 24px;
  display: block;
  margin-block-end: 40px;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  inline-size: 16px;
  block-size: 20px;
}

.popup__navigation__close svg {
  inline-size: 16px;
  block-size: 16px;
}

.navigation__main {
  padding: 5px 0px 0px 24px;
  color: #121212;
  font-family: var(--font-Franklin);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.4375rem;
}

.navigation__main__item {
  padding: 0px 20px 24px 0px;
  cursor: pointer;
}

.navigation__main__item::after {
  content: "";
  position: relative;
  bottom: -24px;
  display: block;
  width: 100%;
  height: 1px;
  border-block-start: 1px solid #dfdfdf;
}

.navigation__item {
  position: realtive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 24px 0px;
  text-transform: capitalize;
  cursor: pointer;
}

.navigation__item:nth-child(2) {
  padding: 24px 20px 24px 0px;
}

.navigation__item::after {
  content: "";
  display: inline-block;
  background: url(https://img.icons8.com/ios-filled/50/1A1A1A/forward--v1.png)
    no-repeat center / contain;
  inline-size: 12px;
  block-size: 21px;
}

.navigation__item:hover .navigation__title,
.navigation__main__item:hover .navigation__title {
  text-decoration: underline;
}

.navigation__hidden {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 100%;
  display: none;
  width: calc(-214px + 100vw);
  border-left: 1px solid #dfdfdf;
  padding: 76px 5vw 30px;
  overflow-y: scroll;
  background: white;
  cursor: default;
}

.navigation__item_is-hover:hover .navigation__hidden {
  display: block;
}

.navigation__hidden__title {
  margin-block-end: 28px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  text-transform: none;
}

.navigation__hidden__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20%);
  grid-template-rows: repeat(8, auto);
  grid-auto-flow: column;
}

.navigation__hidden__list__sort {
  grid-template-columns: repeat(auto-fill, 30%);
  grid-template-rows: repeat(4, auto);
}

.navigation__item:nth-child(4) .navigation__hidden__list {
  grid-template-columns: repeat(auto-fill, 25%);
}

.navigation__sort__item:nth-child(-n + 4) {
  text-transform: lowercase;
}

.navigation__sort__item_usually {
  display: block;
  color: #5a5a5a;
  font-size: 0.875rem;
  line-height: 1.125rem;
  cursor: auto;
}

.navigation__hidden__item {
  margin-block-end: 0.75rem;
  font-weight: normal;
  cursor: pointer;
}

.navigation__hidden__item:hover {
  color: #5a5a5a;
}

.navigation__hidden__item:hover .navigation__sort__item_usually {
  color: #5a5a5a;
}

.navigation__grades__item {
  margin-block-end: 1.25rem;
}

.navigation__grades__image {
  inline-size: 30px;
  aspect-ratio: 1/1;
}

.navigation__grades__item:not(:first-child) .navigation__grades__image {
  padding: 7px;
  background: var(--circle) no-repeat center / cover;
}

.navigation__hidden__item:hover .navigation__grades__image,
.film__header__grade__wrapper:hover .film__header__grade,
.film__header__year:hover,
.film__header__continuation_year:hover {
  opacity: 0.8;
}

.navigation__theme {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: calc(1px + 2rem);
  margin: 0 20px 0 24px;
  border-block-start: 1px solid #dfdfdf;
  padding: 24px 0 85px;
  font-family: var(--font-Franklin);
}

.theme__title {
  grid-column: span 2;
  margin-block-end: 16px;
  color: #727272;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.theme__button {
  display: block;
  border: none;
  padding: 0;
  color: #121212;
  font-weight: 700;
  font-size: 17px;
  text-align: left;
  background: transparent;
  cursor: pointer;
}

.theme__button:hover {
  color: #5a5a5a;
}

.theme__button_is-active {
  opacity: 0.75;
  font-weight: normal;
  cursor: auto;
}

.theme__button_is-active:hover {
  color: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 80px 0;
}

.main__logo {
  padding: 0 20px;
  fill: var(--title);
  inline-size: 100%;
}

.main__image {
  display: flex;
  margin-block-start: 37px;
  overflow: hidden;
  aspect-ratio: 1 / 0.2846;
}

.top__images {
  display: grid;
  grid-template-columns: repeat(209, 1fr);
  grid-template-rows: repeat(31, 1fr);
  -webkit-animation: scroll 60s linear infinite;
  -moz-animation: scroll 60s linear infinite;
  -o-animation: scroll 60s linear infinite;
  animation: scroll 60s linear infinite;
  counter-reset: section;
  min-inline-size: 186.6vw;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.top__images_block {
  position: relative;
  background: var(--background-image);
  counter-increment: section;
}

.top__images_block:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 10;
}

.top__images_block:nth-child(2) {
  grid-column-start: 8;
  grid-column-end: 32;
  grid-row-start: 6;
  grid-row-end: 24;
}

.top__images_block:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 25;
  grid-row-end: 32;
}

.top__images_block:nth-child(4) {
  grid-column-start: 34;
  grid-column-end: 40;
  grid-row-start: 11;
  grid-row-end: 15;
}

.top__images_block:nth-child(5) {
  grid-column-start: 38;
  grid-column-end: 47;
  grid-row-start: 3;
  grid-row-end: 9;
}

.top__images_block:nth-child(6) {
  grid-column-start: 28;
  grid-column-end: 51;
  grid-row-start: 17;
  grid-row-end: 30;
}

.top__images_block:nth-child(7) {
  grid-column-start: 48;
  grid-column-end: 85;
  grid-row-start: 1;
  grid-row-end: 20;
}

.top__images_block:nth-child(8) {
  grid-column-start: 55;
  grid-column-end: 69;
  grid-row-start: 24;
  grid-row-end: 32;
}

.top__images_block:nth-child(9) {
  grid-column-start: 72;
  grid-column-end: 78;
  grid-row-start: 22;
  grid-row-end: 26;
}

.top__images_block:nth-child(10) {
  grid-column-start: 81;
  grid-column-end: 104;
  grid-row-start: 15;
  grid-row-end: 28;
}

.top__images_block:nth-child(11) {
  grid-column-start: 100;
  grid-column-end: 111;
  grid-row-start: 25;
  grid-row-end: 32;
}

.top__images_block:nth-child(12) {
  grid-column-start: 88;
  grid-column-end: 99;
  grid-row-start: 4;
  grid-row-end: 12;
}

.top__images_block:nth-child(13) {
  grid-column-start: 102;
  grid-column-end: 131;
  grid-row-start: 1;
  grid-row-end: 13;
}

.top__images_block:nth-child(14) {
  grid-column-start: 114;
  grid-column-end: 134;
  grid-row-start: 18;
  grid-row-end: 32;
}

.top__images_block:nth-child(15) {
  grid-column-start: 107;
  grid-column-end: 118;
  grid-row-start: 14;
  grid-row-end: 21;
}

.top__images_block:nth-child(16) {
  grid-column-start: 135;
  grid-column-end: 153;
  grid-row-start: 6;
  grid-row-end: 20;
}

.top__images_block:nth-child(17) {
  grid-column-start: 137;
  grid-column-end: 148;
  grid-row-start: 25;
  grid-row-end: 31;
}

.top__images_block:nth-child(18) {
  grid-column-start: 149;
  grid-column-end: 173;
  grid-row-start: 18;
  grid-row-end: 28;
}

.top__images_block:nth-child(19) {
  grid-column-start: 172;
  grid-column-end: 186;
  grid-row-start: 11;
  grid-row-end: 19;
}

.top__images_block:nth-child(20) {
  grid-column-start: 156;
  grid-column-end: 170;
  grid-row-start: 5;
  grid-row-end: 15;
}

.top__images_block:nth-child(21) {
  grid-column-start: 166;
  grid-column-end: 175;
  grid-row-start: 2;
  grid-row-end: 7;
}

.top__images_block:nth-child(22) {
  grid-column-start: 179;
  grid-column-end: 191;
  grid-row-start: 4;
  grid-row-end: 10;
}

.top__images_block:nth-child(23) {
  grid-column-start: 189;
  grid-column-end: 208;
  grid-row-start: 11;
  grid-row-end: 26;
}

.top__images_block:nth-child(24) {
  grid-column-start: 178;
  grid-column-end: 191;
  grid-row-start: 23;
  grid-row-end: 30;
}

.top__images_block:nth-child(25) {
  grid-column-start: 199;
  grid-column-end: 210;
  grid-row-start: 1;
  grid-row-end: 6;
}

.top__images_block::before {
  content: counter(section);
  position: absolute;
  margin-inline: auto;
  color: transparent;
  font-family: var(--font-Karnak);
  font-size: 3vw;
  text-align: center;
  transform: translateY(-50%);
  inset-inline: 0;
  inset-block-start: 50%;
}

.top__images_image {
  object-fit: cover;
  opacity: 0;
  transition: opacity var(--images-opacity) ease-in-out;
  inline-size: 100%;
  block-size: 100%;
}

.main__base {
  align-self: center;
  margin: 0 auto;
  padding-block-start: 100px;
  inline-size: calc(100% - 40px);
}

.main__search {
  position: relative;
  display: none;
  margin: 0 0 26px -20px;
  border-block: 1px solid var(--main-line);
  padding: 28px 20px 10px;
  overflow-x: hidden;
  color: var(--search-title);
  font-family: var(--font-Franklin);
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 0.75rem;
  background: var(--search-background);
  inline-size: calc(100% + 40px);
}

.main__search_is-opened {
  display: block;
}

.main__search__block {
  margin: 0 auto;
  max-inline-size: 900px;
}

.main__search__result {
  display: block;
  color: var(--title);
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 2.8rem;
}

.main__content {
  margin: 0 auto;
  max-inline-size: 900px;
}

.main__descriptions {
  position: relative;
  margin-block-end: 30px;
  border-block-end: 1px solid var(--main-line);
  padding: 30px 0 15px;
  color: var(--title);
  font-family: var(--font-Karnak);
  font-weight: 900;
  font-size: 44px;
  line-height: 44px;
  text-transform: capitalize;
}

.main__description__block {
  display: none;
}

.main__description__format {
  display: none;
}

.main__description__elements {
  display: none;
  margin-block-start: 6px;
}

.main__description__title {
  display: none;
}

.main__description__subtitle {
  position: absolute;
  top: 0;
  left: 0;
  margin: 4px 0;
  color: var(--title);
  font-family: var(--font-Karnak);
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.main__description__grade {
  display: none;
  padding: 11px;
  background: var(--grade-background) no-repeat center / cover;
  inline-size: 44px;
}

.main__description__grade_is-loved {
  padding: 0;
  background: transparent;
}

.main__description__names {
  display: none;
}

.main__description_is-opened {
  display: flex;
}

.main__description__element_is-opened {
  display: inline-block;
}

.main__description__format_is-marked::after {
  content: "ы";
}

.main__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 14px;
}

.main__sort {
  position: absolute;
  right: 0;
  bottom: 100%;
  display: none;
  padding: 9px 0 7px;
  color: var(--main-text);
  font-family: var(--font-Franklin);
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  cursor: pointer;
}

.main__sort_is-opened {
  display: inline-block;
}

.main__list__item {
  display: none;
  color: var(--subtitle);
  font-family: var(--font-Franklin);
  font-size: 0.625rem;
  line-height: 0.875rem;
  letter-spacing: 0.025em;
  cursor: pointer;
}

.main__list__item_is-opened {
  display: block;
}

.card__poster__block {
  border-radius: 3px;
  overflow: hidden;
  background: var(--background-image);
  inline-size: 100%;
  aspect-ratio: 0.6666667/1;
}

.card__poster {
  object-fit: cover;
  opacity: 0;
  transition: opacity var(--images-opacity) ease-in-out;
  inline-size: 100%;
  block-size: 100%;
}

.card__hidden__information {
  color: transparent;
  font-size: 0;
  line-height: 0;
}

.popup__film__content {
  position: absolute;
  top: 0px;
  color: var(--main-text);
  block-size: 100%;
  inline-size: 100%;
}

.popup__film__close {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  border: none;
  background: transparent;
  cursor: pointer;
}

.popup__film__close:hover .popup__film__close__img {
  background: var(--button-header-hover);
}

.popup__film__close:hover .popup__film__close__img_is-reverse {
  background: rgba(0, 0, 0, 0.3);
}

.popup__film__close__img {
  display: block;
  border-radius: 3px;
  padding: 8px;
  object-fit: contain;
  fill: var(--title);
  transition: 0.6s;
  inline-size: 32px;
  aspect-ratio: 1/1;
}

.popup__film__close__img_is-reverse {
  fill: white;
}

.film__header {
  position: relative;
  display: flex;
  overflow: hidden;
}

.film__header_is-row {
  flex-direction: row;
}

.film__header_is-row-reverse {
  flex-direction: row-reverse;
}

.film__posters {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: var(--background-image);
  transition: all 0.5s;
  inline-size: 50%;
}

.film__poster {
  object-fit: cover;
  opacity: 0;
  transition: opacity var(--images-opacity) ease-in-out;
  inline-size: 100%;
  block-size: 100%;
}

.film__poster:nth-child(-1n + 6) {
  display: none;
}

.film__header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 55px auto;
  color: var(--title);
  font-family: var(--font-Imperial-Cheltenham);
  text-align: center;
  max-inline-size: 600px;
  inline-size: calc(50% - 40px);
}

.film__header__grade__wrapper,
.film__header__year,
.film__header__continuation_year {
  cursor: pointer;
}

.film__header__grade {
  padding: 8px;
  background: var(--filled-circle) no-repeat center / cover;
  filter: invert(var(--title-grade));
  inline-size: 34px;
  block-size: 34px;
}

.film__header__grade_is-loved {
  padding: 0;
  background: transparent;
  filter: none;
}

.film__header__title {
  /*
  font-family: var(--font-Magslab-Cheltenham-Cond);
  font-size: 4.75rem;
  line-height: 5.1875rem;
  */
  font-family: var(--font-Karnak);
  font-weight: 900;
  font-size: 5vw;
  line-height: 1;
  letter-spacing: -0.5px;
}

.film__header__title_is-small {
  /*
  font-size: 4rem;
  line-height: 4.375rem;
  */
  font-size: clamp(1rem, 5vw, 88px);
  line-height: 0.95;
}

.film__header__title::before {
  content: "";
  display: block;
  width: 4.5rem;
  height: 1px;
  margin: 15px auto;
  background-color: #ebebeb;
}

.film__header__subtitle {
  margin-block-start: 0.6rem;
  font-weight: 400;
  font-size: 1.4375rem;
  line-height: 1.875rem;
}

.film__header__season {
  text-transform: capitalize;
}

.film__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-block-start: 50px;
}

.film__director,
.film__cast {
  color: var(--name-title);
  font-family: var(--font-Franklin);
  font-size: 1rem;
  line-height: 1.3125rem;
}

.film__name__title {
  font-weight: 750;
}

.film__director__name,
.film__cast__name {
  color: var(--name);
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  text-decoration: underline;
  text-decoration-color: var(--name-line);
  text-underline-offset: 2px;
  cursor: pointer;
}

.film__director__name:hover,
.film__cast__name:hover {
  color: var(--name-hover);
  text-decoration-color: var(--name-line-hover);
}

.film__name_is-closed {
  display: none;
}

.film__name_comma::after {
  content: ",";
  display: inline-block;
  margin-inline-end: 2px;
  text-decoration: none;
}

.film__name_comma:last-child::after {
  display: none;
}

.film__description {
  font-family: var(--font-Imperial-Cheltenham);
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.film__link {
  align-self: center;
  border: 1px solid var(--link-border);
  border-radius: 30px;
  padding: 6px 10px;
  color: (--title);
  font-family: var(--font-Franklin);
  font-weight: 450;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  background: var(--background);
}

.film__link:hover {
  background: var(--link-hover);
}

.film__link__name {
  text-transform: capitalize;
}

.film__screenshots {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 71px 0 100px;
  counter-reset: section;
}

.film__screenshots::before {
  content: "";
  position: absolute;
  top: 0;
  margin-inline: auto;
  border-block-end: 1px solid var(--popup-line);
  padding-block-start: 30px;
  inset-inline: 0;
  inline-size: 100%;
  max-inline-size: 600px;
}

.film__screenshot {
  position: relative;
  background: var(--background-image);
  cursor: pointer;
  counter-increment: section;
}

/*
.film__screenshot::after {
  content: counter(section);
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2vw;
  font-family: var(--font-Karnak);
  color: white;
}
*/

.film__screenshot__img {
  object-fit: cover;
  opacity: 0;
  transition: opacity var(--images-opacity) ease-in-out;
  inline-size: 100%;
  aspect-ratio: 1/0.561666;
}

.popup__screenshot__content {
  position: relative;
  display: flex;
  justify-self: center;
  align-self: center;
  margin-inline: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
  background: transparent;
  -webkit-background-size: cover;
  background-size: cover;
  transform: translateY(-50%);
  block-size: auto;
  inline-size: auto;
  inset-inline: 0;
  inset-block-start: 50%;
}

.popup__screenshots {
  inline-size: 100%;
  block-size: auto;
  max-block-size: 75vh;
}

.popup__screenshot__block {
  padding: 0 15vw;
  min-inline-size: 100vw;
  block-size: 100%;
}

.popup__screenshot__img {
  margin: 0 auto;
  object-fit: contain;
  opacity: 0;
  inline-size: 100%;
  max-inline-size: 1200px;
  block-size: 100%;
}

.popup__screenshot__close {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;
  border: none;
  border-radius: 3px;
  padding: 8px 8px;
  background: transparent;
  transition: 0.6s;
  cursor: pointer;
  inline-size: 34px;
  aspect-ratio: 1/1;
}

.popup__screenshot__close svg {
  fill: white;
  inline-size: 1rem;
  block-size: 1rem;
}

.popup__screenshot__button {
  position: absolute;
  z-index: 1;
  border: none;
  padding: 0;
  background: transparent;
  transition: all 0.6s;
  transform: translateY(-50%);
  cursor: pointer;
  inset-block-start: 50%;
  inline-size: 25px;
  aspect-ratio: 1/1;
}

.popup__screenshot__button:hover {
  opacity: 0.7;
}

.popup__screenshot__left {
  left: 24px;
}

.popup__screenshot__right {
  right: 24px;
}

.popup__screenshot__button svg {
  fill: white;
  inline-size: 26px;
  block-size: 26px;
}

[aria-disabled="true"] {
  display: none;
  opacity: 0;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 8px 15px 3px;
  }

  .header__search__button {
    display: none;
  }

  .header__search {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    gap: 10px;
    padding: 7px 24px 7px 0;
    block-size: auto;
  }

  .header__input__main {
    inline-size: 100%;
  }

  .header__input {
    inline-size: 100%;
    block-size: 35px;
  }

  .header__input:focus-within {
    border: 1px solid #787878;
    box-shadow: none;
    outline: none;
  }

  .header__clear__button {
    top: -7px;
    padding: 20px 13px 0px 0px;
    font-size: 10px;
    block-size: 32px;
  }

  .header__search__submit {
    border: 1px solid #326891;
    padding: 8px 9px 6px;
    font-size: 11px;
    background: #567b95;
    block-size: 35px;
  }

  .header__search__submit:hover {
    background-color: #326891;
  }

  .popup__navigation__content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    padding: 64px 0px 0px 24px;
    inline-size: 100%;
  }

  .popup__navigation__text {
    overflow-y: scroll;
  }

  .navigation__main {
    margin: 0 24px 24px 0;
    border-bottom: 2px solid #121212;
    padding: 0 0 8px 0;
  }

  .navigation__main__item {
    border-bottom: 1px solid #dfdfdf;
    padding: 24px 12px 24px 0px;
  }

  .navigation__main__item::after {
    display: none;
  }

  .navigation__item {
    display: grid;
    grid-template-columns: auto 24px;
    padding: 24px 12px 24px 0px;
  }

  .navigation__item:not(:last-child) {
    border-block-end: 1px solid #dfdfdf;
  }

  .navigation__item:nth-child(2) {
    padding: 24px 12px 24px 0px;
  }

  .navigation__item::after {
    transform: rotate(90deg);
    inline-size: 24px;
    block-size: 12px;
  }

  .navigation__item_is-rotate {
    padding: 24px 12px 0px 0px;
  }

  .navigation__item_is-rotate:first-child {
    padding: 24px 12px 0px 0px;
  }

  .navigation__item_is-rotate::after {
    transform: rotate(270deg);
  }

  .navigation__item:hover .navigation__title,
  .navigation__main__item:hover .navigation__title {
    text-decoration: none;
  }

  .navigation__hidden {
    position: static;
    display: none;
    grid-column: span 2;
    grid-row-start: 2;
    border-left: none;
    padding: 20px 0 35px;
    overflow-y: auto;
    inline-size: 100%;
  }

  .navigation__hidden_is-opened {
    display: block;
  }

  .navigation__hidden__title {
    display: none;
  }

  .navigation__hidden__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, auto);
    column-gap: calc(1px + 2rem);
  }

  .navigation__item:nth-child(4) .navigation__hidden__list,
  .navigation__item:last-child .navigation__hidden__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-auto-flow: row;
  }

  .navigation__hidden__list__sort {
    grid-template-rows: repeat(4, auto);
  }

  .navigation__hidden__item {
    margin-block-end: 1.125rem;
    font-size: 1.125rem;
    line-height: 1.4625rem;
    inline-size: 100%;
  }

  .navigation__grades__item {
    margin-block-end: 1.5rem;
  }

  .navigation__grades__image {
    inline-size: 48px;
  }

  .navigation__grades__item:not(:first-child) .navigation__grades__image {
    padding: 12px;
  }

  .navigation__theme {
    column-gap: calc(1px + 2rem);
    margin: 0 24px 145px 0;
    border-block-start: none;
    border-block-end: 1px solid #dfdfdf;
    padding: 0 0 24px;
  }

  .theme__title {
    margin-block-end: 12px;
    font-size: 0.875rem;
  }

  .theme__button {
    font-size: 1.25rem;
  }

  .main {
    margin: 70px 0;
  }

  .main__image {
    margin-block-start: 22px;
    aspect-ratio: 1/ 1.002825;
  }

  .top__images {
    min-inline-size: 674.19355vw;
  }

  .main__descriptions {
    font-size: 38px;
    line-height: 38px;
  }

  .main__description__elements {
    margin-block-start: 5px;
  }

  .main__description__grade {
    padding: 9px;
    inline-size: 38px;
  }

  .main__description__grade_is-loved {
    padding: 0;
  }

  .main__sort {
    padding: 13px 0 9px;
  }

  .popup__film__close:hover .popup__film__close__img {
    background: rgba(0, 0, 0, 0.3);
  }

  .popup__film__close__img {
    fill: white;
  }

  .film__header {
    flex-direction: column;
    align-items: center;
  }

  .film__posters {
    grid-template-columns: repeat(6, 1fr);
    inline-size: 120%;
  }

  .film__poster {
    aspect-ratio: 0.6666667/1;
  }

  .film__poster:nth-child(-1n + 6) {
    display: block;
  }

  .film__header__text {
    display: grid;
    column-gap: 10px;
    margin: 40px 0 0;
    inline-size: calc(100% - 40px);
  }

  .film__header__grade__wrapper {
    grid-row-start: 2;
    justify-self: end;
  }

  .film__header__title {
    grid-column: span 2;
    margin-block-end: 25px;
  }

  .film__header__title:before {
    display: none;
  }

  .film__header__subtitle {
    grid-row-start: 2;
    justify-self: start;
    margin: 0;
    inline-size: max-content;
  }

  .film__text {
    grid-column: span 2;
    text-align: start;
  }

  .film__director,
  .film__cast {
    font-size: 0.8125rem;
    line-height: 1.0625rem;
  }

  .film__link {
    align-self: start;
  }

  .film__screenshots {
    grid-template-columns: repeat(2, 1fr);
    padding-block-end: 65px;
  }
}

@media screen and (max-width: 899px) {
  .film__posters {
    grid-template-columns: repeat(4, 1fr);
    inline-size: 100%;
  }

  .film__poster:nth-child(-1n + 4) {
    display: none;
  }
}

@media screen and (max-width: 739px) {
  .header {
    align-items: start;
  }

  .header__button:hover {
    background: transparent;
  }

  .header__logo {
    block-size: 36px;
  }

  .main__descriptions {
    padding: 26px 0 15px;
    font-size: 32px;
    line-height: 32px;
  }

  .main__description__elements {
    margin-block-start: 11px;
  }

  .main__description__subtitle {
    margin: 10px 0 0;
    font-family: var(--font-Franklin);
    line-height: 16px;
  }

  .main__description__grade {
    padding: 10px;
    inline-size: 40px;
  }

  .main__description__grade_is-loved {
    padding: 0;
  }

  .main__sort {
    padding: 9px 0;
  }

  .main__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .popup__film__close:hover .popup__film__close__img {
    background: transparent;
  }

  .popup__film__close:hover .popup__film__close__img_is-reverse {
    background: transparent;
  }

  .popup__film__close svg {
    fill: white;
  }

  .film__posters {
    inline-size: 135%;
  }

  .film__header__text {
    margin: 24px 0 0;
  }

  .film__header__title {
    /*
    font-size: 3.4375rem;
    line-height: 3.75rem;
    */
    font-size: 44px;
    line-height: 0.95;
  }

  .film__header__title_is-small {
    /*
    font-size: 2.5rem;
    line-height: 2.75rem;
    */
    font-size: 36px;
    line-height: 1;
  }

  .film__header__subtitle {
    font-size: 1.25rem;
    line-height: 1.5625rem;
  }

  .film__text {
    gap: 12.5px;
  }

  .film__director__name,
  .film__cast__name {
    font-size: 0.8125rem;
    line-height: 1rem;
  }

  .film__description {
    font-size: 1.125rem;
    line-height: 1.38;
  }

  .film__screenshots {
    padding: 51px 0 100px;
  }

  .film__screenshots::before {
    padding-block-start: 30px;
    inline-size: calc(100% - 40px);
  }

  .film__screenshots_is-even .film__screenshot:nth-child(3n) {
    grid-column: span 2;
  }

  .film__screenshots_is-odd .film__screenshot:nth-child(3n + 1) {
    grid-column: span 2;
  }

  .popup__screenshot {
    background-color: var(--light-dark);
  }

  .popup__screenshot__close svg {
    fill: var(--dark-light);
  }

  .popup__screenshot__block {
    padding: 0;
  }

  .popup__screenshot__button {
    block-size: 100%;
    inline-size: 50%;
  }

  .popup__screenshot__left {
    left: 0;
  }

  .popup__screenshot__right {
    right: 0;
  }

  .popup__screenshot__button:hover {
    opacity: 1;
  }

  .popup__screenshot__button svg {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .navigation__hidden__list__sort {
    grid-template-columns: repeat(3, 1fr);
  }

  .navigation__sort__item:nth-child(-n + 4) {
    grid-column: span 2;
  }

  .main__search__result {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }

  .film__posters {
    inline-size: 155%;
  }

  .film__header__title {
    margin-block-end: 0.6rem;
  }
}
